.newul {
  list-style-type:none;
  padding-left: 0px;
}

.skills {
  margin-left: 20px;
  width: 100%;
  position: relative;
  float: left;
  padding: 50px 0px;
}
.newli {
  margin-bottom: 70px;
  background: #343a40;
  height: 10px;
  border-radius: 3px;
  border-left: 1px solid #111;
  border-top: 1px solid #111;
  border-right: 1px solid #333;
  border-bottom: 1px solid #333;
}
.newem{
  font-family: 'Exo', sans-serif;
  font-size: 18px;
  position: relative;
  top: -30px
}

.bar100 {
  height: 4px;
  margin: 2px 0;
  background: #2187e7;
  position: absolute;
  box-shadow: 0px 0px 10px 1px rgba(0, 198, 255, 0.4);
  width: 100%;
  animation: bar100 2s ease-out;
}
.bar90 {
  height: 4px;
  margin: 2px 0;
  background: #2187e7;
  position: absolute;
  box-shadow: 0px 0px 10px 1px rgba(0, 198, 255, 0.4);
  width: 90%;
  animation: bar90 2s ease-out;
}
.bar80 {
  height: 4px;
  margin: 2px 0;
  background: #2187e7;
  position: absolute;
  box-shadow: 0px 0px 10px 1px rgba(0, 198, 255, 0.4);
  width: 80%;
  animation: bar80 2s ease-out;
}
.bar70 {
  height: 4px;
  margin: 2px 0;
  background: #2187e7;
  position: absolute;
  box-shadow: 0px 0px 10px 1px rgba(0, 198, 255, 0.4);
  width: 70%;
  animation: bar70 2s ease-out;
}
.bar60 {
  height: 4px;
  margin: 2px 0;
  background: #2187e7;
  position: absolute;
  box-shadow: 0px 0px 10px 1px rgba(0, 198, 255, 0.4);
  width: 60%;
  animation: bar60 2s ease-out;
}
.bar50 {
  height: 4px;
  margin: 2px 0;
  background: #2187e7;
  position: absolute;
  box-shadow: 0px 0px 10px 1px rgba(0, 198, 255, 0.4);
  width: 50%;
  animation: bar50 2s ease-out;
}
.bar50 {
  height: 4px;
  margin: 2px 0;
  background: #2187e7;
  position: absolute;
  box-shadow: 0px 0px 10px 1px rgba(0, 198, 255, 0.4);
  width: 40%;
  animation: bar40 2s ease-out;
}
@keyframes bar100 {
  0% {
    width: 0px;
  }
  100% {
    width: 100%;
  }
}
@keyframes bar90 {
  0% {
    width: 0px;
  }
  100% {
    width: 90%;
  }
}
@keyframes bar80 {
  0% {
    width: 0px;
  }
  100% {
    width: 80%;
  }
}
@keyframes bar70 {
  0% {
    width: 0px;
  }
  100% {
    width: 70%;
  }
}
@keyframes bar50 {
  0% {
    width: 0px;
  }
  100% {
    width: 50%;
  }
}
@keyframes bar60 {
  0% {
    width: 0px;
  }
  100% {
    width: 60%;
  }
}
@keyframes bar40 {
  0% {
    width: 0px;
  }
  100% {
    width: 40%;
  }
}
